@import url(//fonts.googleapis.com/css?family=Vibur);
.game-type-box {
  color: #fff;
  padding: 4rem 2rem;
  border: 0.4rem solid #fff;
  border-radius: 2rem;
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;
  cursor: pointer;
}

/* Animate neon flicker */
@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem #08f,
      inset 0 0 2rem #08f, 0 0 4rem #08f, inset 0 0 4rem #08f;
  }

  20%,
  24%,
  55% {
    box-shadow: none;
  }
}
.logo {
  position: relative;
  user-select: none;
}

.logo b {
  font: 200 10vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444,
    0 0 0.1em #ff4444, 0 10px 3px #000;
}
.logo b span {
  animation: blink2 linear infinite 2s;
}
.logo b span:nth-of-type(2) {
  animation: blink2 linear infinite 3s;
}
.logo b span:nth-of-type(3) {
  animation: blink2 linear infinite 2s;
}
@keyframes blink2 {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
