.input-enabled {
  transition: opacity 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  opacity: 1;
  box-shadow: 0 0 2px #ffa500, 0 0 8px #ffa500, 0 0 10px #ffa500,
    0 0 20px #ffa500, 0 0 30px #ff0000, 0 0 5px #ff8d00, 0 0 46px #ff0000;
}

.input-disabled {
  transition: opacity 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

body {
  height: 100vh;
  overflow: hidden;
  background: #222;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 7px,
    rgba(0, 0, 0, 0.8) 9px,
    rgba(0, 0, 0, 0.8) 13px,
    transparent 13px
  );
}
